/* #container {
    margin: auto;
    width: 1275px;
}

#sidebar { 
    width: 1850px;
    position: fixed;
    height: 100%;
    margin-top: 2%;
    margin-right: 15%;
} */

* {
    margin: 0;
    padding: 0;
}